body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/*HEADER*/

.content {
  border-bottom: 1px solid #E7E9FC;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: inline-flex;
  align-items: center;
}

/*Logo*/
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

/*Second part of logo*/
span {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  color: #2E2F42;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.menu-link:hover {
  color: #404BBF;
}

.menu-list li:first-child:focus {
  color: #404BBF;
}

.menu-list li:first-child:active {
  color: #404bbf;
}

.menu-list li:first-child .menu-link:focus {
  color: #404BBF;
}

/*CONTACTS*/
.contacts {
  font-style: normal;
  margin-left: auto;
}


.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: #434455;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.contacts-link:hover {
  color: #404BBF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:active {
  color: #404BBF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:focus {
  color: #404BBF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*HERO SECTION*/
.hero-section {
  background-color: #2E2F42;
  padding: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hero-container {
  padding: 188px 0;
  margin: 0 auto;

}



.hero-title {
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
}


/*BUTTON*/
.button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 16px 32px;
  border-radius: 4px;
  max-width: 169px;
  white-space: nowrap;
}

.button:hover {
  background-color: #404BBF;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:focus {
  background-color: #404BBF;
}

/*FEATURES_CONTENT*/

.features-content {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}

.features-title {
  display: none;
}

.feature-title {
  color: #2E2F42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;

}

.feature-list {
  display: flex;
  gap: 24px;
  margin: 120px 0;
  justify-content: space-between;
  flex-basis: calc(100% - 3 *24) / 4;
}

.feature-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-items: center;
}

/*OUR TEAM*/
.content-our-team {
  background-color: #F4F4FD;
  font-family: "Roboto", sans-serif;
}

.our-team-title {
  color: #2E2F42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

ul.list-our-team li {
  background-color: #FFFFFF;
}


.team-title {
  color: #2E2F42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

/*PORTFOLIO CONTENT*/
.portfolio-content {
  font-family: "Roboto", sans-serif;

}

.title-of-portfolio {
  color: #2E2F42;
  font-family: Roboto;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}


.portfolio-title {
  color: #2E2F42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/*FOOTER*/

.footer-content {
  background-color: #2E2F42;
  font-family: "Roboto", sans-serif;

}

.second-part {
  color: #F4F4FD;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #F4F4FD;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}