body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*HEADER*/

.content {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: inline-flex;
  align-items: center;
}

/*Logo*/
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

/*Second part of logo*/
span {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  color: #2e2f42;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.menu-link:hover {
  color: #404bbf;
}

.menu-list li:first-child:focus {
  color: #404bbf;
}

.menu-list li:first-child:active {
  color: #404bbf;
}

.menu-list li:first-child .menu-link:focus {
  color: #404bbf;
}

/*CONTACTS*/
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:active {
  color: #404bbf;
  font-weight: 500;
}

.contacts-link:focus {
  color: #404bbf;
  font-weight: 500;
}

/*HERO SECTION*/
.hero-section {
  background-color: #2e2f42;
  padding: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 188px 0;
}

.hero-container {
  margin: 0 auto;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
}

/*BUTTON*/
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  white-space: nowrap;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

/*FEATURES_CONTENT*/

.features-content {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 120px 0;
}

.features-title {
  visibility: hidden;
}

.feature-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.title-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.feature-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.feature-text,
.feature-title {
  text-align: left;
}

/*OUR TEAM*/
.content-our-team {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  padding: 120px 0;
}

.our-team-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-card {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-block {
  padding: 32px 0;
}

.list-our-team {
  display: flex;
  gap: 24px;
  align-items: center;
}

ul.list-our-team li {
  background-color: #ffffff;
}

.team-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-title {
  text-align: center;
  margin-top: 32px;
}

.team-text {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 8px;
}

/*PORTFOLIO CONTENT*/
.portfolio-content {
  font-family: "Roboto", sans-serif;
  padding: 120px 0;
}

.title-of-portfolio {
  color: #2e2f42;
  font-family: Roboto;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 72px) / 4);
}

.items-block {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*FOOTER*/

.footer-content {
  background-color: #2e2f42;
  font-family: "Roboto", sans-serif;
  padding: 100px 0;
}

.footer-container {
  display: block;
}

.logo-footer {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.second-part {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}